block vars
  - var isWrapperColor = false;

mixin createNote(note)
  li.notes__list-item
    time.notes__item-time(datetime='2019-03-21T20:33')= note.createdDate
    a.notes__item-text(href='#')= note.title
    button.notes__button.button.button--close-item(type='button')
      span.visually-hidden Закрыть строку списка

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='description' content='Личный блог Типотека')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Типотека
    link(rel='preload' href='/fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='/fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='/fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/style.min.css')
  body
    div(class= isWrapperColor ? 'wrapper-color' : 'wrapper')
      include partials/header.pug

      block content

      include partials/footer.pug

    script(src='/js/vendor.js')
    script(src='/js/main.js')
